<!-- templates/kiosk_app/cardapio.html -->
{% extends 'base.html' %}

{% block title %}Cardápio{% endblock %}

{% block content %}
<h1 class="text-center">Cardápio</h1>
{% for categoria in categorias %}
  <h2>{{ categoria.nome_categoria }}</h2>
  <div class="row">
    {% for item in itens %}
      {% if item.id_categoria == categoria %}
        <div class="col-md-4">
          <div class="card mb-4">
            {% if item.imagem_item %}
              <img src="{{ item.imagem_item.url }}" class="card-img-top" alt="{{ item.nome_item }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ item.nome_item }}</h5>
              <p class="card-text">{{ item.descricao }}</p>

              
              {% if item.id_promocao and item.id_promocao.is_ativa %}
                <p class="text-success">
                  Promoção: {{ item.id_promocao.nome }} - Desconto: {{ item.id_promocao.desconto }}%
                </p>
              {% endif %}

              <form action="{% url 'kiosk_app:adicionar_ao_carrinho' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">

                
                {% if item.tamanhos.all %}
                  <div class="form-group">
                    <label for="tamanho_{{ item.id }}">Escolha o tamanho:</label>
                    <select name="tamanho_item_id" id="tamanho_{{ item.id }}" class="form-control">
                      {% for tamanho in item.tamanhos.all %}
                        <option value="{{ tamanho.id }}">
                          {{ tamanho.tamanho }} - R$ {{ tamanho.preco }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                {% else %}
                  <h4>R${{ item.preco_base|floatformat:2 }}</h4>
                {% endif %}  

                
                {% if item.sabores.all %}
                    <div class="form-group">
                        <label for="sabor_{{ item.id }}">Opções Disponíveis:</label>
                        <select name="sabor_id" id="sabor_{{ item.id }}" class="form-control" required>
                            {% for sabor in item.sabores.all %}
                                <option value="{{ sabor.id }}">
                                    {{ sabor.nome }}{% if sabor.preco_adicional > 0 %} (+R$ {{ sabor.preco_adicional|floatformat:2 }}){% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                
                {% if item.ingredientes_extras.all %}
                  <div class="form-group">
                    <label>Ingredientes extras:</label>
                    {% for ingrediente in item.ingredientes_extras.all %}
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="ingredientes_extras" id="ingrediente_{{ item.id }}_{{ ingrediente.id }}" value="{{ ingrediente.id }}">
                        <label class="form-check-label" for="ingrediente_{{ item.id }}_{{ ingrediente.id }}">
                          {{ ingrediente.nome }}
                          {% if ingrediente.custo > 0 %}
                            - R$ {{ ingrediente.custo|floatformat:2 }}
                          {% endif %}
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}

                <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}
